<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

    <!-- servlet 配置 -->
    <servlet>
        <servlet-name>my</servlet-name>
        <servlet-class>com.github.houbb.minicat.support.servlet.MyMiniCatHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my</servlet-name>
        <url-pattern>/my</url-pattern>
    </servlet-mapping>

    <!-- Filter 配置 -->
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.github.houbb.minicat.support.filter.MyMiniCatLoggingHttpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Listener 配置 -->
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletContextAttrListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletReadListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletWriteListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.github.houbb.minicat.support.listener.foo.MyServletRequestAttrListener</listener-class>
    </listener>
</web-app>
